<div class="container">
  <h1>Our Restaurants</h1>

  <ul>
    <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant)  %>,
      <%= restaurant.category %>,
      <%= restaurant.address %>
    </li>
    <% end %>
  </ul>

  <h5><%= link_to 'Add a new restaurant', new_restaurant_path %></h5>
</div>
